<template>
  <div class="<%= name.toLowerCase() %>"></div>
</template>

<script>
  import { mapActions, mapGetters } from "vuex";

  export default {
    name: "<%= name %>",
    components: {},
    data() {
      return {};
    },
    computed: {},
    mounted() {},
    methods: {}
  };
</script>

<style scoped lang="scss"></style>
