<template>
  <div class="<%= name.toLowerCase() %>"></div>
</template>

<script>
  import { mapActions, mapGetters } from "vuex";

  export default {
    components: {},
    computed: {},
    data() {
      return {};
    },
    name: "<%= name %>",
    methods: {},
    mounted() {}
  };
</script>

<style scoped></style>
